.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-500) 0;
  padding-top: 25px;
}

.empty {
  padding: var(--spacing-500) 0;
  text-align: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--spacing-375);
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-375);
  }
}
