.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 var(--spacing-200) var(--spacing-700);
  margin-top: -32px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--spacing-300) var(--spacing-700);
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 165px var(--spacing-700);
  }
}
